.additional-goods {
  list-style: none;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    padding: 0;
    width: 708px;
    border: 1px solid black;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    width: 896px;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
