.additional-goods__title {
  font-family: @oswald;
  color: @special-grey;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-goods__text {
  line-height: 14px;
}

.additional-goods__price {
  line-height: 14px;
}
