.advantages__title {
  padding-bottom: 38px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  width: 256px;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    width: 230px;
  }
}
