.card {
  border-bottom: 1px solid @border-catalog;
  padding-bottom: 24px;
  padding-top: 20px;
}

.card__title {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
}

.card__link-title {
  color: @special-grey;
}

.card__list {
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}


.card__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.card__definition {
  margin: 0;
  padding: 0;
}

.card__description {
  text-align: right;
  margin: 0;
  padding: 0;
}

.card__link {
  display: block;
  margin-right: 35px;
  margin-left: 33px;
  margin-top: 14px;
}

.card__link--max {
  display: block;
  margin-right: 27px;
  margin-left: 28px;
  margin-top: 11px;
}

.card__link--button {
  text-align: center;
  width: 260px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media (min-width: @tablet-width) {
  .card {
    border: none;
    background-image: linear-gradient(@basic-white 18.6%, @background-grey 18.6%);
    width: 324px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 38px;
    flex-direction: column;
  }

  .card__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .card__link {
    margin-bottom: 35px;
  }

  .card__link--min {
    margin-top: 35px;
  }

  .card__link--max {
    margin-bottom: 29px;
  }

  .card__image--min {
    width: 130px;
    height: 172px;
  }

  .card__image--max {
    width: 168px;
    height: 200px;
  }

  .card__title {
    width: 135px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 19px;
  }

  .card__list {
    width: 248px;
    font-size: 16px;
    line-height: 16px;
    grid-row-gap: 6px;
  }

  .card__definition {
    border-bottom: 1px solid @toogle-border-grey;
    padding-bottom: 9px;
  }

  .card__description {
    border-bottom: 1px solid @toogle-border-grey;
  }

  .card__link--button {
    width: 228px;
    padding-top: 9px;
    padding-bottom: 10px;
    align-self: flex-start;
    margin-left: 17px;
    margin-top: auto;
  }
}

@media (min-width: @desktop-width) {
  .card {
    width: 245px;
    padding-bottom: 39px;
  }

  .card__wrapper {
    width: 245px;
    height: 100%;
    padding: 0;
  }

  .card__link--min {
    margin-bottom: 40px;
  }

  .card__link--max {
    margin-bottom: 37px;
  }

  .card__title {
    width: 130px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .card__list {
    width: 170px;
  }

  .card__definition {
    border-bottom: 1px solid @toogle-border-grey;
  }

  .card__description {
    border-bottom: 1px solid @toogle-border-grey;
  }

  .card__link--button {
    width: 147px;
    margin: 0 auto;
    margin-top: auto;
  }
}
