.container {
  /*  outline: 5px solid red;
  outline-offset: -5px;*/
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .container {
    width: 707px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1220px;
    padding: 0 110px;
  }
}
