.example__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.example__container {
  margin-bottom: 40px;
}

.example__title {
  font-weight: 400;
  margin-bottom: 33px;
}

.example__text {
  margin: 0;
  width: 280px;
  margin-bottom: 40px;
}

.example__expenses {
  width: 188px;
  font-family: @oswald;
  line-height: 20px;
  color: @basic-black;
  margin: 0;
  margin-left: 45px;
  text-transform: uppercase;
}

.example__image--invisible {
  display: none;
}

.example__image-it-was {
  margin-left: -3px;
  width: 311px;
  height: 232px;
}

.example__image {
  margin-bottom: 32px;
}


@media (min-width: @tablet-width) {
  .example__wrapper {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .example__result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example {
    padding-top: 15px;
    padding-bottom: 70px;
    background-image: linear-gradient(@basic-white 56.1%, @background-grey 56.1%);
  }

  .example__container {
    margin-bottom: 45px;
  }

  .example__title {
    padding: 0;
    margin: 0;
    font-weight: 400;
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    width: 680px;
    margin: 0;
  }

  .example__expenses {
    width: 180px;
    text-align: right;
    font-family: @oswald;
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-transform: uppercase;
    padding-top: 65px;
    margin: 0;
  }

  .example__price {
    font-family: @oswald;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-top: 10px;
  }

  .example__image-it-was {
    width: 677px;
    height: 520px;
    margin-left: 15px;
  }

  .example__image-after {
    width: 545px;
    height: 520px;
    margin-left: 107px;
  }

  .example__image {
    margin-bottom: 15px;
  }

  .example__image--invisible {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .example {
    padding: 0;
    margin-bottom: 0;
    background-image: linear-gradient(@basic-white 31%, @background-grey 31%);
  }

  .example__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__container {
    margin-bottom: 45px;
  }

  .example__title {
    padding: 0;
    margin: 0;
    font-weight: 400;
    margin-bottom: 147px;
    margin-top: 59px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    width: 436px;
    margin: 0;
    padding: 0;
    margin-bottom: 66px;
  }

  .example__expenses {
    width: 330px;
    text-align: left;
    font-family: @oswald;
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .example__price {
    font-family: @oswald;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-left: 60px;
    display: inline-block;
    margin-top: 0;
  }

  .example__photo {
    margin-top: 3px;
  }

  .example__image-it-was {
    width: 677px;
    height: 520px;
    margin-left: 32px;
  }

  .example__image {
    width: 677px;
    margin-bottom: 35px;
  }
}
