@media (min-width: @tablet-width) {
  .example__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__container {
    display: block;
  }

  .example__text {
    width: 436px;
  }
}

.example__expenses {
  font-family: @oswald;
  line-height: 20px;
  color: @basic-black;
}
