.form {
  font-family: @oswald;
  font-size: 16px;
  text-transform: uppercase;
}

.form__label-radio {
  color: @special-grey;
}

.form__legend {
  color: @basic-black;
  font-size: 24px;
  line-height: 26px;
}

.form__label-checkbox {
  color: @basic-black;
}

.form__small {
  text-transform: none;
  font-family: @arial;
  color: @basic-black;
  line-height: 16px;
}

.form input {
  &::placeholder {
    color: @special-dark-grey;
    text-transform: uppercase;
  }
}

.form__textarea-comment {
  text-transform: uppercase;
  color: @special-dark-grey;
}
