.main-nav__list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px;
    margin-top: 19px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    width: 484px;
    display: flex;
    justify-content: space-between;
  }
}
