/*.page-main__program {
  margin-bottom: 22px;
}*/

.page-main__program-type {
  margin: 0 auto;
}

.page-main__program-type-wrapper {
  margin-bottom: 28px;
  padding: 0 20px;
}

.page-main__wrapper {
  font-family: @oswald;
  color: @basic-black;
  padding-top: 27px;
  padding-bottom: 39px;
}

.page-main__title-catalog {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-main__wrapper-title {
  border-bottom: 1px solid black;
  padding-bottom: 41px;
}

.page-main__title {
  font-family: @oswald;
  font-size: 36px;
  line-height: 36px;
  color: @special-black;
}

.page-main__text {
  margin: 0;
  text-transform: uppercase;
  width: 226px;
}

.page-main__example {
  background-color: @background-grey;
  padding-top: 28px;
  padding-bottom: 35px;
}


@media (min-width: @tablet-width) {
  .page-main__program-type-wrapper {
    margin-bottom: 45px;
  }

  .page-main__example {
    background-color: @basic-white;
  }

  .page-main__wrapper-title {
    border: none;
    width: 707px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .page-main__text {
    width: 320px;
  }

  .page-main__title-catalog {
    width: 708px;
    padding: 0;
  }
}


@media (min-width: @desktop-width) {
  .page-main__catalog {
    margin-bottom: 28px;
  }

  .page-main__title-catalog {
    padding: 0;
    width: 1220px;
  }

  .page-main__example {
    background-color: @basic-white;
  }

  .page-main__program-type-wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    margin-bottom: 70px;
  }

  .page-main__wrapper-title {
    border: none;
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .page-main__wrapper {
    margin: 0 auto;
    width: 1220px;
    padding: 0 110px;
  }

  .page-main__text {
    width: 320px;
  }

  .catalog-additional-goods__catalog-wrapper {
    display: grid;
    grid-template-columns: 896px 245px;
    grid-column-gap: 79px;
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }
}
