.page-main__program {
  margin-bottom: 22px;
}

.page-main__program-type-wrapper {
  margin: 0 auto;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-bottom: 71px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.page-main__example {
  background-color: @background-grey;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-white;
  }
}

.page-main__wrapper {
  font-family: @oswald;
  color: @basic-black;
}

.page-main__title {
  font-family: @oswald;
  font-size: 36px;
  line-height: 36px;
  color: @special-black;
}

.page-main__text {
  text-transform: uppercase;
}
