.page-main__program-type-wrapper {
  margin-bottom: 26px;
}

.page-main__wrapper {
  font-family: @oswald;
  color: @basic-black;
  margin-bottom: 40px;
}

.page-main__title-catalog {
  font-family: @oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 280px;
  margin: 0 auto;
}

.page-main__wrapper-title {
  border-bottom: 1px solid @border-catalog;
  padding-bottom: 41px;
  padding-top: 26px;
  color: @basic-black;
}

.page-main__title {
  font-family: @oswald;
  font-size: 36px;
  line-height: 36px;
  color: @special-black;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 37px;
}

.page-main__text {
  margin: 0;
  text-transform: uppercase;
  width: 226px;
}

.page-main__example {
  background-color: @background-grey;
  padding-top: 28px;
  padding-bottom: 35px;
}


@media (min-width: @tablet-width) {
  .page-main__program-type-wrapper {
    margin-bottom: 45px;
  }

  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
    margin-left: 40px;
    margin-bottom: 55px;
  }

  .page-main__text {
    font-size: 20px;
    line-height: 30px;
    width: 325px;
    margin-bottom: 65px;
    margin-left: 40px;
  }

  .page-main__example {
    background-color: @basic-white;
  }

  .page-main__wrapper-title {
    border: none;
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 65px;
  }

  .page-main__title-catalog {
    width: 708px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .page-main__catalog {
    margin-bottom: 69px;
  }
}


@media (min-width: @desktop-width) {
  .page-main__catalog {
    margin-bottom: 75px;
  }

  .page-main__title-catalog {
    padding: 0;
    width: 1220px;
  }

  .page-main__example {
    background-color: @basic-white;
  }

  .page-main__program-type-wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    margin-bottom: 72px;
  }

  .page-main__wrapper-title {
    border: none;
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .page-main__wrapper {
    margin: 0 auto;
    width: 1220px;
    padding: 0 110px;
    margin-bottom: 67px;
  }

  .page-main__title {
    margin: 0;
    margin-bottom: 55px;
  }

  .page-main__text {
    width: 330px;
    margin: 0;
  }

  .catalog-additional-goods__catalog-wrapper {
    display: grid;
    grid-template-columns: 896px 245px;
    grid-column-gap: 79px;
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }
}
