.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

@media (min-width: @desktop-width) {
  .page-body {
    background-image: url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% 694px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 50%;
      height: 694px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: @basic_green;
      opacity: 85%;
    }
  }

  .page-body--image {
    background-image: none;

    &::before {
      display: none;
    }
  }
}
