
.page-footer__slogan {
  font-family: @oswald;
  font-size: 16px;
  text-transform: uppercase;
  color: @special-black;
}

.page-footer__text {
  line-height: 20px;
}

.page-footer__map {
  width: 320px;
  height: 362px;
}


.page-footer__copyright-link {
  font-size: 16px;
  color: @special-dark-grey;
}
