.present {
  width: 280px;
  height: 289px;
  background-image: url("../img/catalog-mobile.png");
  background-color: @basic_green;
  background-repeat: no-repeat;
  background-size: 280px 289px;
}

.present__text-pesent {
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
}
