.program {
  color: @basik-white;
  font-family: @oswald;
  background-image: url(/img/cat-index.png);
  background-repeat: no-repeat;
  background-size: 320px 302px;
}

.program__wrapper-title {
  font-size: 36px;
  line-height: 36px;
}

.program__text {
  text-transform: uppercase;
  line-height: 14px;
}
