.program-type {
  outline: 5px solid red;
  outline-offset: -5px;
  width: 280px;
  margin: 0 auto;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0;
    width: 570px;
  }
}

.program-type__title {
  font-family: @oswald;
  font-size: 24px;
  line-height: 37px;
  color: @basic-black;
  text-transform: uppercase;
  margin: 0;
}

.program-type__link {
  font-family: @oswald;
  font-size: 16px;
  line-height: 16px;
  color: @basic-black;
}

.program-type__text {
  margin: 0;
}
