.result {
  display: flex;
}

.result__description {
  font-family: @oswald;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.result__definition {
  font-size: 12px;
  line-height: 12px;
}
