.page-header__main-nav {
  color: @basik-black;
  font-family: @oswald;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.site-menu__link {
  color: @basik-black;
}
