.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 6px;
  padding-left: 73px;
  padding-right: 40px;
  margin-bottom: 20px;
  border-top: 1px solid @border-dark-grey;
  border-bottom: 1px solid @border-dark-grey;
}

.social-list__social-link {
  outline: none;

  &:focus .social-list__icon {
    stroke: @basic_green;
  }
}

.social-list__icon {
  &:hover {
    stroke: @basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__icon--fb {
  stroke: @stroke-fb;
}

.social-list__social-item {
  margin-right: 37px;
  margin-bottom: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    margin-left: 23px;
    border: none;
  }

  .social-list__social-item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .social-list__icon--vk {
    width: 30px;
    height: 22px;
  }

  .social-list__icon--inst {
    width: 23px;
    height: 23px;
  }

  .social-list__icon--fb {
    width: 23px;
    height: 28px;
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 7px;
    margin-left: 43px;
    border: none;
  }

  .social-list__social-item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}
